body {
	background-color: rgb(255, 200, 196);
}
.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-bottom: 1px solid black;
}

.maze {
	margin: 1rem;
	text-align: center;
}

#count {
	margin-top: 2rem;
	font-size: larger;
}

